@use 'styles' as *;

.wrapper {
  background-color: $color-light-yellow;
}

.contentBlock {
  @include container;
}

.title {
  @include mediumText20;
  padding: 9px 0 0 24px;
}

.slider {
  max-width: 100%;
  margin: 20px 29px;
}

.slides {
  display: flex;
  list-style: none;
  padding: 0;
  img:hover {
    cursor: pointer;
  }
}

.picture {
  height: auto;
  position: relative;
  width: 100%;
}
