@use 'styles' as *;

.wrapper {
  background: $orange-linear-gradient;
}

.container {
  @include container;
  display: flex;
  flex-direction: column;
  padding: 0 22px;

  @include mobileMobileFirst {
    padding: 0 16px;
  }
}

.newsArticle {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid $color-black;
  .image {
    width: 50%;
    padding: 23.5px 0 24.5px 39px;
    max-width: 500px;
    text-align: center;
  }
  .newsBlock {
    height: 100%;
    cursor: pointer;
    width: 50%;
    padding: 75px 44px 75px 0;
  }
  @include mobileMobileFirst {
    flex-direction: column;
    gap: 0;
    padding: 24px 16px;
    .image {
      padding: 0;
      order: 1;
      width: 100%;
    }
    .newsBlock {
      padding: 0;
      order: 2;
      width: 100%;
    }
  }
}

.titleBlock {
  width: 100%;
  border-bottom: 1px solid $color-black;
  display: flex;
}

.title {
  margin: 0 auto;
  @include extraBoldText140;
  padding: 32px 0 36.5px 0;

  @include mobileMobileFirst {
    @include extraBoldText90;
    padding: 88px 0 12px 0;
  }
}

.newsSlider {
  border-bottom: 1px solid $color-black;
  .newsSliderSlide {
    cursor: pointer;
    border-right: 1px solid $color-black;
    &:last-child {
      border-right: none;
    }
    @include mobileMobileFirst {
      border-right: none;
    }
  }
  .newsSliderItem {
    padding: 75px 20px;
    @include mobileMobileFirst {
      padding: 24px;
    }
  }
}

.newsTitle {
  @include regularText32;
  margin-bottom: 32px;

  @include mobileMobileFirst {
    @include regularText14;
    margin-bottom: 12px;
  }
}

.newsSubtitle {
  @include boldText40;

  @include mobileMobileFirst {
    @include boldText22;
  }
}

.buttonBlock {
  padding: 42px 0 75px 622px;

  @include mobileMobileFirst {
    padding: 40px 0 40px 139px;
  }
}
