@font-face {
  font-family: 'Object Sans';
  src: url('ObjectSans/ObjectSans-Heavy.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('ObjectSans/ObjectSans-Heavy.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('ObjectSans/ObjectSans-Regular.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('ObjectSans/ObjectSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('ObjectSans/ObjectSans-Slanted.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
